/* popup */
#top {
    position: fixed; right: 50px; bottom: 50px;
    width: 34px; height: 34px;
}
#top img {width: 100%;}
/* all layout */
header,
main #visual,
main #service,
main .bnr_bg .bnr,
main #board,
main .field_info,
main .news,
footer {
    background-color: lightblue;
    width: 1152px;
    margin: 0 auto;
}
header {}
/* header-h top */
header #h_top {
    background-color: lightcoral;
    height: 48px;
}
header #h_top .left {
    background-color: lightgreen;
    float: left;
}
header #h_top .left h1 {
    float: left;
    width: 110px;
    height: 28px;
    padding-top: 5px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {width: 100%;}
header #h_top .left nav {
    float: left;
}
header #h_top .left nav ul {}
header #h_top .left nav ul li {
    float: left;
    margin-left: 20px;
}
header #h_top .left nav ul li a {
    letter-spacing: -0.02em;
    line-height: 48px;
}
header #h_top .right {
    background-color: lightgoldenrodyellow;
    float: right;
}
header #h_top .right li {
    float: left;
    margin-left: 20px; 
}
header #h_top .right li:first-child {
    margin-left: 0px;
}
header #h_top .right li a {
    letter-spacing: -0.02em;
    line-height: 48px;
}
/* header-h btm */
header #h_btm {
    background-color: lightslategray;
    height: 119px;
}
header #h_btm h1 {
    background-color: lemonchiffon;
    float: left;
    width: 150px;
    height: 28px;
    margin-top: 45px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {width: 100%;}
header #h_btm #search_frm {
    background-color: lightsalmon;
    float: left;
    width: 369px;
    height: 46px;
    border: 2px solid #1E6CB3;
    margin-top: 36px;
    left: 50%;
    padding: 10px 20px 0 20px;
    margin: 36px 0 0 230px;
}
header #h_btm #search_frm fieldset {border: 0;}
header #h_btm #search_frm fieldset legend {display: none;}
header #h_btm #search_frm fieldset input {
    float: left;
    width: calc(100% - 20px);
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing: -0.02em;
    color: #1E6CB3;
}
header #h_btm #search_frm fieldset #search_btn {
    float: right;
    width: 20px;
    height: 20px;
    border: 0px;
    background:none;
    padding-top: 2px;
    cursor: pointer;
}
header #h_btm #search_frm fieldset #search_btn img {width: 100%;}
header #h_btm #right {
    background-color: lightseagreen;
    float: right;
    margin-top: 10px;
}
header #h_btm #right #language_frm {
    text-align: right;
}
header #h_btm #right #language_frm fieldset {
    border: 0;
}
header #h_btm #right #language_frm fieldset legend {display: none;}
header #h_btm #right #language_frm fieldset select {
    border: 2px solid #1E6CB3;
    margin-right: 10px;
    margin-left: 33px;
    font-size: 0.833rem;
    letter-spacing: -0.02rem;
    width: 93px;
    padding: 5px 0;
}
header #h_btm #right #language_frm fieldset select option {}
header #h_btm #right #language_frm fieldset #lang_btn {
    width: 30px; height: 29px;
    background-color: #1E6CB3; color: #fff;
    border: 0px;
    font-size: 0.833rem;
    letter-spacing: -0.02em;
    padding: 3px 0;
    cursor: pointer;
}
header #h_btm #right .weather {
    margin-top: 8px;
}
header #h_btm #right .weather .current_weather {}
header #h_btm #right .weather .current_weather em {
    font-weight: 500;
    font-size: 2.074rem;
    letter-spacing: -0.02em;
}
header #h_btm #right .weather .current_dust {
    margin-top: 10px;
    font-size: 0.833rem;
    letter-spacing: -0.02em;
}
/* main */
main {}
/* main-1광고배너 */
main #visual {
    background-color: lightpink;
    overflow: hidden;
}
main #visual .left {
    background-color: linen;
    position: relative;
    width: 770px; height: 350px;
    float: left;
}
main #visual .left img {width: 100%;}
main #visual .left .close {
    border-radius: 5px; letter-spacing: -0.02em;
    font-weight: 500;
    background-color: #1E6CB3; color: #fff;
    padding: 10px;
    position: absolute;
    right: 10px; bottom: 10px;
}
main #visual .right {
    background-color: aquamarine;
    width: 360px;
    float: right;
}
main #visual .right .covid {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
main #visual .right .covid .date {
    position: absolute;
    right: 20px;
    top: 20px;
}
main #visual .right .covid .data {
    color: #fff;
    position: absolute;
}
main #visual .right .covid .data1 {
    left: 80px;
    top: 82px;
}
main #visual .right .covid .data2 {
    right: 88px;
    top: 82px;
}
main #visual .right .covid .data3 {
    left: 58px;
    bottom: 58px;
}
main #visual .right .covid .data4 {
    left: 188px;
    bottom: 58px;
}
main #visual .right .covid .data5 {
    right: 54px;
    bottom: 58px;
}
main #visual .right .covid img {}
main #visual .right .traffic {

}
main #visual .right .traffic img {}
/* 주요서비스~새소식 제목 디자인 그룹 */
/* 정리 후 */
main section .title {
    background-color: lightseagreen; overflow: hidden;
    padding: 50px 0 10px;
    border: 1px solid #aaa;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
main section .title h2 {
    font-size: 1.44rem;
    font-weight: 500;
    letter-spacing: -0.02em;

    float: left;
}
main section .title .site {
    float: right;
    border: 1px solid #aaa;
    padding: 10px;
}
main section .title .more {float: right;}
main section .title .more i {font-size: 30px;}
/* 정리 전 */
/* main #service .title,
main #service .title h2, 
main #service .title .site,
main #board .event .title ,
main #board .event .title h2 ,
main #board .event .title .more,
main #board .fastival .title,
main #board .fastival .title h2,
main #board .fastival .title .more,
main #board .service .title,
main #board .service .title h2,
main .field_info .tltle,
main .field_info .tltle h2,
main .news .title,
main .news .title h2,
main .news .title .more {} */

/* main-2주요서비스 */
main #service {}
main #service .title {}
main #service .title h2 {}
main #service .title .site {}
main #service .contents {
    overflow: hidden;
    padding: 20px;
}
main #service .contents a {
    float: left;
    width: 9.09%; /* 100/11 */
    text-align: center;
}
main #service .contents a img {}
main #service .contents a span {
    display: block;
    font-size: 0.870rem;
    letter-spacing: -0.02em;
}
main .field_info .tltle {}
main .field_info .tltle h2 {}
/* main-3배너 */
main .bnr_bg {
    background-color: #EFF4F8;
    padding: 50px 0;
}
main .bnr_bg .bnr {overflow: hidden;}
main .bnr_bg .bnr a {float: left;}
main .bnr_bg .bnr a img {}
/* main-4게시판 */
main #board {overflow: hidden;}
/* main-4게시판 그룹모음 */
main #board > div {
    width: calc(33.33% - 22px);
    float: left;
    padding: 40px 0;
}
main .board >div /title {height: 90px;}
main #board .event {}
main #board .fastival {
    margin: 0 22px;
}
main #board .service {width:33.33%}
/* main-4게시판 개인내용 */
main #board .event .title {}
main #board .event .title h2 {}
main #board .event .title .more {}
/* main-4게시판 event-fastival 겹치는 내용 그룹 */
main #board .event .contents,
main #board .fastival .contents {margin-top: 17px;}
main #board .event .contents a,
main #board .fastival .contents a {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
}
main #board .event .contents a:last-child,
main #board .fastival .contents a:last-child {
    margin-bottom: 0;
}
main #board .event .contents a span,
    main #board .fastival .contents a span {
    letter-spacing: -0.02em;
}
main #board .event .contents a span:first-child,
main #board .fastival .contents a span:first-child {
    margin-right: 10px;
    float: left;
}
main #board .event .contents a span:last-child,
main #board .fastival .contents a span:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
    width: 88%;
}
main #board div .contents a .administration {color: #028AB6;}
main #board div .contents a .environment {color: #599100;}
main #board div .contents a .welfare {color: #D86000;}
main #board div .contents a .house {color: #C35C3C;}
main #board div .contents a .culture {color: #9B64D3;}
main #board .fastival .title {}
main #board .fastival .title h2 {}
main #board .fastival .title .more {}
main #board div .contents a .environment {color: #599100;}
main #board div .contents a .economy {color: #069363;}
main #board div .contents a .culture {color: #9B64D3;}
main #board .service .title {
    border: 0px;
    height: 90px;
}
main #board .service .title h2 {}
main #board .service .contents {
    background-color: #EFF4F8;
    overflow: hidden;
    padding:  17px 0;
}
main #board .service .contents a {
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 25px;
}
main #board .service .contents a:nth-last-child(2),
main #board .service .contents a:last-child {
    margin-bottom: 0px;
}
/* main-5분야정보 */
main .field_info {}
main .field_info .tltle {}
main .field_info .tltle h2 {}
main .field_info .contents {
    overflow: hidden;
    padding: 20px 40px;
}
main .field_info .contents a {
    width: 12.5%;
    float: left;
    text-align: center;
}
main .field_info .contents a img {}
main .field_info .contents a span {
    display: block;
    letter-spacing: -0.02em;
}
/* main-6새소식 */
main .news {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {}
main .news .contents {
    overflow: hidden;
    padding-bottom: 20px;
}
main .news .contents a {
    float: left;
    width: 25%;
    margin-top: 20px;
}
main .news .contents a:nth-child(4n) {
    margin-right: 0px;
}
main .news .contents a img {}
main .news .contents a span {
    line-height: 26px;
    letter-spacing: -0.06em;
}
/* footer-f top */
footer {}
footer .top {
    border: 1px solid #aaa;
    border-left: 0; border-right: 0;
    padding: 20px 0;
    overflow: hidden;
}
footer .top .left {
    float: left;
}
footer .top .left a {}
footer .top .right {float: right;}
footer .top .right a {}
footer .top .right a:first-child {
    background: url(../img/icon_sns2/icon_set_sns_01.png) no-repeat ; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px; /* 화면 밖으로 글자를 내보내기 */
}
footer .top .right a:nth-child(2) {
    background: url(../img/icon_sns2/icon_set_sns_02.png) no-repeat; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px;
}
footer .top .right a:nth-child(3) {
    background: url(../img/icon_sns2/icon_set_sns_03.png) no-repeat; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px;
}
footer .top .right a:nth-child(4) {
    background: url(../img/icon_sns2/icon_set_sns_04.png) no-repeat; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px;
}
footer .top .right a:nth-child(5) {
    background: url(../img/icon_sns2/icon_set_sns_05.png) no-repeat; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px;
}
footer .top .right a:nth-child(6) {
    background: url(../img/icon_sns2/icon_set_sns_06.png) no-repeat; width: 25px; height: 25px; display: inline-block;
    text-indent: -9999px;
}
/* footer-f btm */
footer .btm {overflow: hidden;}
footer .btm .left {float: left;}
footer .btm .left p {}
footer .btm .left p img {}
footer .btm .left address {}
footer .btm .left address a {}
footer .btm .right {float: right;}
footer .btm .right a {float: left;}
footer .btm .right a img {}