main {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
}
main .box {
    width: 200px; height: 200px;
    font-size: 4rem;
    border: 5px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    /* line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙으로 온다(1행일 경우 가능) */
}
main .a {
    /* padding 안쪽 여백 추가시 실제 크기에 변화를 주지 않는다. */
    /* padding-right: 50px; */
    /* width: 150px; */
    clear: both;
    float: left;
    background-color: lightcoral;
}
main .b {
    /* padding-top: 30px; */
    /* height: 170px; */
    float: left;
    background-color: lightblue;
    font-size: 3rem;
}
main .c {
    /* padding: 10px 20px; */
    /* float: none; */
    /* clear: both; */
    clear: both;
    background-color: lightgoldenrodyellow;
    /* width: 160px;
    height: 180px; */
}